{% extends 'AppTienda/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}
     
    <ul>   
    
        {% if user.is_staff %}

            <button><a href="{% url 'blog:crear_carrusel' %}">Crear Imagen</a></button>
            <hr>
        {% endif %}
        {% for imagen in imagenes %}

            <img src="{{imagen.imagen.url}}" height="100">               
            <p>{{imagen.titulo}}</p>
            
            {% if user.is_staff %}            
                    
                <button><a href="{% url 'blog:eliminar_carrusel' id=imagen.id %}">Eliminar</a></button>
                <button><a href="{% url 'blog:editar_carrusel' id=imagen.id %}">Editar</a></button>
                
            {% endif %}
            <hr>    

        {% endfor %}          

        
    </ul>

{% endblock %}