{% extends 'AppTienda/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}
     
    <ul>   
    
        
        {% for publicacion in publicaciones %}
            
            <a href="{% url 'publicacion_detalle' id=publicacion.id %}"><h1>{{publicacion.titulo}}</h1></a>        
            <p>{{publicacion.subtitulo}}</p>
            {% if publicacion.img_miniatura %}
                <img src="{{publicacion.img_miniatura.url}}" height="100">
            {% else %}
                <img src="\media\miniaturadefault.jpg" height="100"/>
            {% endif %}

            
            {% if user.is_staff %}            
                    
                <button><a href="{% url 'eliminar_publicacion' id=publicacion.id %}">Eliminar</a></button>
                <button><a href="{% url 'editar_publicacion' id=publicacion.id %}">Editar</a></button>
                
            {% endif %}
            <hr>    

        {% endfor %}          

        {% if user.is_staff %}

            <button><a href="{% url 'crear_publicacion' %}">Crear publicacion</a></button>
        {% endif %}
    </ul>

{% endblock %}