{% extends 'AppTienda/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

    {% if user.is_staff %}
        <button><a href="{% url 'blog:crear_publicacion' %}">Crear publicacion</a></button>
    {% endif %}

    <div style="border-bottom: 2%; border-top: 2%;">
        <ul>
            {% if publicaciones %}
                
                {% for publicacion in publicaciones %}
                    
                    <a href="{% url 'blog:publicacion_detalle' id=publicacion.id %}" style="text-decoration: none; color:inherit;"><h1>{{publicacion.titulo}}</h1></a>        
                    <p style="font-size: 25px;">{{publicacion.subtitulo}}</p>
                    {% if publicacion.img_miniatura %}
                        <img src="{{publicacion.img_miniatura.url}}" width="50%" 
                        style=
                        "display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                        height: 10%;">
                    {% else %}
                        <img src="\media\miniaturadefault.jpg" height="100" 
                        style=
                        "display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;"/>
                    {% endif %}
        
                    
                    {% if user.is_staff %}            
                            
                        <button><a href="{% url 'blog:eliminar_publicacion' id=publicacion.id %}">Eliminar</a></button>
                        <button><a href="{% url 'blog:editar_publicacion' id=publicacion.id %}">Editar</a></button>
                        
                    {% endif %}
                    <hr>    
        
                {% endfor %}   

            {% endif %}
            <hr>             
       

        </ul>      
    </div>
    

{% endblock %}