{% extends 'AppTienda/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}
<button type="button" class="btn-close" aria-label="Close" style="margin-left: 2.5%; margin-top: 1.5%;">
    <a 
    href="{% url 'blog:lista_publicaciones' %}"
    style="color: rgb(255, 255, 255); text-decoration: none;"
    >
    .
    </a>
</button>
    <div style="margin-right: 5%; margin-left: 5%; margin-bottom: 2%; margin-top: 2%;">
        <h1 style="font-size: 50px">{{titulo}}</h1>
        {% if user.is_autenthicated and user.is_staff %}            
                        
            <button><a href="{% url 'eliminar_publicacion' id=publicacion.id %}">Eliminar</a></button>
            <button><a href="{% url 'editar_publicacion' id=publicacion.id %}">Editar</a></button>
        
        {% endif %}
        <hr>
        <h3 style="margin-bottom: 1rem;">{{subtitulo}}</h3>
        {% if img_portada %}
            <img 
            src="{{img_portada.url}}" 
            width="50%" 
            style=
            "display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;">
            
        {% else %}
            <img src="\media\portadadefault.jpg" height="400"/>
        {% endif %}
        
            
        
        <hr>
        <p style="font-size: 20px;">{{cuerpo|safe}}</p>
        <hr style="margin-bottom: 3%;">
        
        {% if fuente %}
            <p>
                Fuente: {{fuente}}.      
                <a href='{{link_noticia}}'>Link al articulo</a>
                
            </p>
        {% endif %}
        
        <p>Publicacion creada por {{autor}} el dia {{fecha_creacion|date:'d/n/Y'}}</p>
        <hr>
    </div>



{% endblock %}
