{% extends 'AppTienda/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

    <h1 style="margin-bottom: 3rem; margin-top: 2rem; margin-left: 1rem;">Acerca de nosotros</h1>
    
    
      <div class="row" style="margin-bottom: 1rem; margin-left: 3rem; margin-right: 3rem;">
        <div class="col">
          <h4 style="font-size: 30px; margin-bottom: 1rem;">Quiénes somos</h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt accusamus alias facilis libero laudantium placeat, aliquid pariatur, fugit ea tempora porro ut nihil! Neque eius, dolorem explicabo ipsa quia quos!
          Laudantium impedit iure harum esse repellat inventore, eveniet corporis minus quae illum id natus tempora sunt cumque asperiores vitae obcaecati fuga dignissimos itaque sapiente ad dolores dicta quaerat! Necessitatibus, debitis!
          Voluptatum, optio? At, quia animi distinctio eius illum deleniti quod earum deserunt minus dolore tempora repudiandae facilis, rem sequi magnam, voluptatibus ad nobis ducimus? Laborum nostrum qui dolor sit numquam.
          Excepturi vitae dolorem voluptates, voluptatum aperiam tempore ratione, quos incidunt fugit in architecto delectus? Obcaecati temporibus ut debitis, qui earum dolore fuga soluta ex corrupti dolores corporis iure, quis tenetur!
          Iste eos sunt ipsum libero? Fugiat, soluta voluptate? Consequatur nemo ad hic natus. Ut sed provident quam officiis quas ducimus libero dolores dolorum eos eum, sapiente itaque rerum veritatis quod.
          Ipsum dignissimos natus omnis, facilis asperiores quaerat provident eligendi. Dolorem soluta eaque incidunt totam dolore omnis praesentium magni eos magnam illum consectetur, dolores exercitationem sequi officiis recusandae, nam molestias eligendi.
        </div>
        <div class="col-6">
            <div 
            style=
            "margin-top: 3rem;
            display: block;
            align-items: left;
            width: 25%;"
            >
                <img 
                src="https://thumbs.dreamstime.com/b/workteam-en-la-oficina-que-trabaja-junto-el-ordenador-port%C3%A1til-131137244.jpg" 
                alt="" 
                style=
                "max-width: 40rem; 
                max-height: 30rem;"
                >
            </div>
        </div>
      </div>


      <div class="row" style="margin-bottom: 1rem;margin-top: 2rem; margin-left: 3rem; margin-right: 3rem;">
          <h4 style="font-size: 30px; margin-bottom: 1rem;">Nuestras tiendas</h4>
          <div class="container">
            <div class="row">
            <div class="col" style="text-align: center;">
                <h4><a href="https://www.koreanroot.com.ar/" style="text-decoration: none; color:inherit;">Argentina</a></h4>
            </div>
            <div class="col" style="text-align: center;">
                <h4>España</h4>
            </div>
            <div class="col" style="text-align: center;">
                <h4>México</h4>
            </div>
            </div>
        </div>
        </div>
      </div>





{% endblock %}
