<!doctype html>
<html lang="en">
  <head>

    {% load static %}


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Korean Root</title>
  </head>


  <body style="background-color:rgb(255, 255, 255)">
    

    <style>
        .carousel-item {
            margin-top: 2rem;
            margin-bottom: 0rem;
            height: 20rem;
            background: rgb(255, 188, 89);
        }

        .footer {
          background-color: darksalmon;
          margin-top: 3rem;
          
        }
    </style>
    
    
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color:darksalmon">
            <div class="container">
            <a href="#" class="navbar-brand mb-0 h1" style="text-emphasis-color: aliceblue">Korean Root</a>
            <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" 
                        class="nav-link dropdown-toggle" 
                        id="navbarDropdown" 
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        >Tienda
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="https://www.koreanroot.com.ar/">Korean Root Argentina</a></li>
                            <li><a class="dropdown-item" href="#!">Korean Root España</a></li>
                            <li><a class="dropdown-item" href="#!">Korean Root México</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active"><a href="{% url 'blog:lista_publicaciones' %}" class="nav-link">Blog</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Acerca de nosotros</a></li>
                    <li class="nav-item dropdown">
                      <a href="#" 
                      class="nav-link dropdown-toggle" 
                      id="navbarDropdown" 
                      role="button" 
                      data-bs-toggle="dropdown" 
                      aria-expanded="false"
                      >Formaciones
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a href="#">Formaciones disponibles</a></li>
                          <li><a class="dropdown-item" href="https://www.youtube.com/channel/UC8QQf5m4bq_b639ss8gnnDg">YouTube</a></li>
                          <li><a class="dropdown-item" href="https://instagram.com/koreanroot">Instagram</a></li>
                      </ul>
                </ul>
            </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-end" style="width: 5rem;">
                <button class="btn btn-outline" type="button">Iniciar sesión</button>
                <button class="btn btn-outline" type="button">Registrarse</button>
              </div>
        </nav>
    

        {% block contenidoQueCambia %}
        {% endblock %}

          
    
    
    <footer 
    class="footer" 
    style="
    position: absolute;
    bottom: 0;
    width: 100%;"
    >
      <div class="container">
        <nav class="row">
          <a href="#"
          class="col-3 text-reser text-uppercase d-flex align-items-center"
          >
            <img src="imagenes/logo.png" alt="" class="img-logo mr-2">
            Korean Root
          </a>
          <!--Menúes-->
          <ul class="col-3 list-unstyled">
            <li class="font-weight-bold text-uppercase">Navegación</li>
            <li><a href="#" class="text-reset">Blog</a></li>
            <li><a href="#" class="text-reset">Acerca de nosotros</a></li>
            <li><a href="#" class="text-reset">Formaciones</a></li>
          </ul>
          <!--Redes-->       
          <ul class="col-3 list-unstyled">
            <li class="font-weight-bold text-uppercase">Redes</li>
            <li><a href="https://www.facebook.com/koreanroot" class="text-reset">Facebook</a></li>
            <li><a href="https://instagram.com/koreanroot" class="text-reset">Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UC8QQf5m4bq_b639ss8gnnDg" class="text-reset">YouTube</a></li>
          </ul>
          <ul class="col-3 list-unstyled">
            <li class="font-weight-bold text-uppercase">Contacto</li>
            <li><a href="tel:3424234054" class="text-reset">Teléfono</a></li>
            <li><a href="thekoreanroot@gmail.com" class="text-reset">Correo electrónico</a></li>
          </ul>
        </nav>
      </div>

      


    </footer>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>