<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Korean Root</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppTienda/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'AppTienda/css/styles_inicio.css' %}" rel="stylesheet" />
</head>



<body class="body">

    <!--
    <div class="header">
        <a href="#">Korean Root</a>
        <ul>
            <div class="dropdown">
                <button class="link">Tienda</button>
                    <div class="dropdown_menu">
                        <li><a href="https://www.koreanroot.com.ar/">Korean Root Argentina</a></li>
                        <li><a href="#!">Korean Root España</a></li>
                        <li><a href="#!">Korean Root México</a></li>
                    </div>
            </div>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Formaciones</a></li>
        </ul>
    </div>
    -->


    <header>
        <a href="#">Korean Root</a>
        <nav class="li">
            <ul class="nav__links">
                <!--
                <div class="dropdown">
                    <button class="link">Tienda</button>

                    <div class="dropdown_menu">
                        <li><a href="https://www.koreanroot.com.ar/">Korean Root Argentina</a></li>
                        <li><a class="dropdown-item" href="#!">Korean Root España</a></li>
                        <li><a class="dropdown-item" href="#!">Korean Root México</a></li>
                    </div>
                </div>
                -->
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Formaciones</a></li>
            </ul>
        </nav>
        <a class="button" href="#">Log in</a>
        <button class="button" href="www.google.com">Log in</button>
    </header>

    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Korean Root</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tienda</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://www.koreanroot.com.ar/">Korean Root Argentina</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Korean Root España</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Korean Root México</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Acerca de nosotros</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Formaciones</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Formaciones disponibles</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Inicia sesión</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Canales Youtube/Instagram</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-secondary text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    -->



    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at quidem assumenda perspiciatis vitae tenetur veritatis distinctio, enim, corporis sapiente molestias voluptatibus eaque delectus et aliquid nisi, praesentium excepturi dolor!
    
</body>

<footer class="footer_inicio">
    <div><a class="a" href="tel:3424234054">Contactanos</a></div>
    <div><a class="a" href="#!">Blog</a></div>
    <div><a class="a" href="https://instagram.com/koreanroot">Instagram</a></div>
    <div><a class="a" href="https://www.facebook.com/koreanroot">Facebook</a></div>
    <div><a class="a" href="https://www.youtube.com/channel/UC8QQf5m4bq_b639ss8gnnDg">YouTube</a></div>
</footer>




</html>